<!-- Hero Section -->
      <div class="relative isolate pt-0">
        <div class="mx-auto max-w-7xl px-6 p-5 sm:py-32 lg:flex lg:items-center lg:gap-x-10 lg:px-8 lg:py-10">
          <div class="mx-auto max-w-2xl lg:mx-0 lg:flex-auto">
            <div class="flex">
            </div>
            <p class="text-base font-semibold leading-7 text-owltext1">Portfolio</p>
        <img src="/images/signature_2.png" class="signature" id="aboutme" alt="Signature of developer"/>
            <p class="mt-6 text-lg leading-8 text-gray-600 font-maven">Welcome! I'm Alex, a seasoned professional in the realm of Project Management (PMP) and a versatile force in both software / web development and home construction. As a web and software developer I take designs to make sure the project is both aesthetically pleasing and functional. As a passionate home designer and contractor, I specialize in bringing modern and Scandinavian aesthetics to life. Learn more <a href="/about" class="text-base font-maven text-purple-300 hover:text-gray-300">About Me!</a>
</p>


          
<!-- Hero Section Image -->
          </div>
          <div class="mt-16 sm:mt-24 lg:mt-0 lg:flex-shrink-0 lg:flex-grow">
            <svg viewBox="0 0 366 429" role="img" class="mx-auto w-[22.875rem] max-w-full drop-shadow-xl">
              <title>Alex Nguyen</title>
              <foreignObject width="316" height="684" transform="translate(24 24)" clip-path="url(#2ade4387-9c63-4fc4-b754-10e687a0d332)">
                <img src="/images/selfcircle.png" alt="" />
              </foreignObject>
            </svg>
          </div>
        </div>
      {{> testimonials}}
      {{> newsletter}}
